
.hiddenbutton{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    
}

.dashfunbtn{
    width: 80px;
    display: block;
    margin: auto;
}

.btnmainone{
    position: relative;
    bottom: 30px;
}
